extends layout

block content
  h1= title
  ul
    each post in postsList
      li
        h2= post.title
        ul
          each category in post.categories
            li= category
        p= post.content