extends layout

block content
    h1= title
    p= content
    ul.categories
        each category in categories
            li= category
    hr
    button#delete(data-id=_id) Delete
    br
    a(href="/") See all posts

    script(src="/javascripts/post.js")