extends layout

block content
    h1= title
    p= content
    ul.categories
        each category in categories
            li= category
    hr
    button.button.button--small#delete(data-id=_id) Delete
    a.button(href="/") See all posts
    a.button(href="/add-post") Add post

    script(src="/javascripts/post.js")