body {
  max-width: 1060px;
  margin: 0 auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.button {
  min-width: 120px;
  display: inline-block;
  margin-top: 6px;
  padding: 6px;
  border: 1px solid rgb(255, 196, 35);
  border-radius: 4px;
  color: #1f1f1f;
  background-color: rgba(255, 196, 35, 0.5);
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}
.button--small {
  min-width: 80px;
  font-size: 10px;
  padding: 4px;
}

.button:disabled{
  background-color: rgba(138, 131, 112, 0.5);
}

.link {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
}
.posts, .categories {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
}
.posts__post {
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
}
.posts__post h3 {
  margin-top: 0;
}
.posts__post p {
  margin-bottom: 0;
}
.posts__post a {
  padding: 20px;
  display: block;
  text-decoration: none;
  color: inherit;
}
.posts__post button {
  margin-top: 4px;
}
.categories {
  display: flex;
  flex-direction: row;
}
.categories li {
  padding: 6px;
  border: 1px solid rgb(98, 177, 208);
  border-radius: 4px;
  color: #fefefe;
  background-color: rgba(58, 166, 208, .5);
  margin-right: 10px;
}

form {
  max-width: 350px;
}

form label, form input, form textarea, form select {
  box-sizing: border-box;
  width: 100%;
  display: block;
}
form input, form textarea, form select {
  margin-top: 6px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  transition: border-color .3s;
}
form label {
  margin-bottom: 10px;
}
.error {
  border: 1px solid crimson;
  border-radius: 4px;
}
.error-msg {
  color: crimson;
  opacity: 0;
  transition: opacity .3s;
}
.error ~ .error-msg {
  opacity: 1;
}