body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.posts, .categories {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
}
.posts__post {
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
}
.posts__post h3 {
  margin-top: 0;
}
.posts__post p {
  margin-bottom: 0;
}
.posts__post a {
  padding: 20px;
  display: block;
  text-decoration: none;
  color: inherit;
}
.posts__post button {
  margin-top: 4px;
}
.categories {
  display: flex;
  flex-direction: row;
}
.categories li {
  padding: 6px;
  border: 1px solid rgb(98, 177, 208);
  border-radius: 4px;
  color: #fefefe;
  background-color: rgba(58, 166, 208, .5);
  margin-right: 10px;
}

